

<p>
    ФИО: <strong>{{ fio }}</strong>
    <br>
    Компания: <strong>{{ company }}</strong>
    <br>
    Телефон: <strong>{{ phone }}</strong>
    <br>
    email: <strong>{{ email }}</strong>
    <br>
    <br>
    Хочет следующие оборудование: <strong>{{ equipment_code }}</strong> в количестве <strong>{{ equipment_count }}</strong>
</p>
