{% for eqmode in eqModes %}
    <tr>
        <td><a href="{{ path('eqmode_show', { 'id': eqmode.id }) }}">{{ eqmode.name }}</a></td>
        <td>{{ eqmode.descr }}</td>
        <td>{{ eqmode.img }}</td>
        {#<td>{{ eqmode.eqModeId }}</td>#}
        <td>
            <a class="btn btn-warning" href="{{ path('eqmode_edit', { 'id': eqmode.id }) }}">edit</a>
        </td>
    </tr>
{% endfor %}